<h2>Register</h2>

<h4 *ngIf="create_error.name" style="color: red;">Name Must Be 4 Or More Characters</h4>
<h4 *ngIf="create_error.password" style="color: red;">Password Must Be 4 Or More Characters</h4>
<h4 *ngIf="create_error.email" style="color: red;">Email In Use</h4>

<form (submit)="createUser()">
  <p>{{ register_user | json}}</p>
  <label for="">Name:</label> 
  <input type="text" name="email" [(ngModel)]="register_user.name" >
  <br>
  <label for="">Email:</label>
  <input type="text" name="email" [(ngModel)]="register_user.email" >
  <br>
  <label for="">Password:</label>
  <input type="password" name="email" [(ngModel)]="register_user.password" >
  <br>
  <input type="submit" value="Register" name="submit" id="submit">
</form>
<h2>Login</h2>
<h4 *ngIf="login_error.email" style="color: red;">Incorrect Email/Password</h4>
<h4 *ngIf="login_error.password" style="color: red;">Incorrect Email/Password</h4>
<form (submit)="loginUser()">
    <p>{{ login_user | json}}</p>
  <label for="">Email:</label>
  <input type="text" name="email" [(ngModel)]="login_user.email" >
  <br>
  <label for="">Password:</label>
  <input type="password" name="email" [(ngModel)]="login_user.password" >
  <br>
  <input type="submit" value="Login" name="submit" id="submit">
</form>
