*{
    
}
#center {
    /* text-align: center; */
    background-color: #E7E6E6;
}
ul{
    list-style-type: none;
    display: inline-block;
}
nav{
    display: inline-block;
}
li{
    display: inline;
    font-size: 20px;
    margin-right: 30px;
}
a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
a:hover {
    color: red;
}
h1{
    display: inline-block;
    margin-right: 510px;
}
#events_near {
    background-color: red;
    padding: 30px 0 60px 0;
    margin-bottom: 70px;
}
#events_near h2 {
    color: white;
    text-align: center;
}
#events_near h4 {
    color: #E7E6E6;
    text-align: center;
    font-size: 20px;
}
#search {
    color: white;
    background-color: black;
    position: absolute;
    margin-top: 30px;
    height: 80px;
    width: 930px;
    padding: 15px;
    margin-left: 250px;
}
#search input {
    height: 50px;
    width: 270px;
    color: black;
}
#search a {
    color: white;
}
#search p {
    display: inline-block;
}
#search form {
    padding: 0px;
}
form p {
    vertical-align: top;
}
/* #mySubmit {
    visibility: hidden;
    float: right;
    position: absolute;
}*/
.glyphicon {
    font-size: 33px;
} 
button {
    background-color: black;
    border: none;
}
#border {
    /*     padding: 10px; */
        margin-left: 180px;
        font-size: 20px;
        border: 1px solid gray;
        height: 50px;
    }
#border a {
    border: 1px solid gray;
    display: inline-block;
    width: 100px;
}
#dates {
    border: 2px solid red;
    height: 500px;
    width: 930px;
    margin-left: 250px;
}
#dates_details {
    /* border: 1px solid black; */
    width: 600px;
    display: inline-block;
}
.date p {
    font-weight: 900;
    font-size: 20px;
    margin: 20px 0 25px 30px;
}
.details {
    background-color: white;
    border: 0.5px solid gray;
    padding-top: 15px;
}
.time {
    display: inline-block;
    vertical-align: top;
}
.time p {
    font-weight: normal;
    color: gray;
}
#name {
    display: inline-block;
    margin-left: 20px;
}
#name p {
    font-weight: normal;
    margin: 0 0 0 0;
}
#dates_nav {
    border: 1px solid black;
    width: 322px;
    display: inline-block;
}